/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
     margin: 0;
    padding: 0;
}

button, summary {
    cursor: pointer;
    border:  none;
    background-color: unset;
}


main {
  position: relative;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text:#EED6DC;
    --color-background:#30302e;
    --color-accent-background: #EED6DC;
    --color-accent-text:#30302e;
    --color-accent-background-opacity: rgb(240 209 219 / .8);
}


/************/
/* ALGEMEEN */
/************/

body {
  color:var(--color-text);
  background-color:var(--color-background);
  margin: 0 auto;
  width: 100%;
}

li {
  font-family:'Roboto', sans-serif;
  color: var(--color-accent-text);
  list-style: none;
}

a {
  font-family:'Roboto', sans-serif;
  color: var(--color-text);
  text-decoration: none;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}



/***********/
/* HEADER */
/**********/

header {
  /* online bron */
  background-image: linear-gradient(to top, rgba(245, 246, 252, 0), rgba(35, 33, 34, 0.83)), url(../images/Girls-Favo.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  height: 9em;
  border-bottom: 0.4em solid var(--color-accent-background);
  background-position: center;
  z-index:-1;
}

header a:nth-of-type(2 ) img {
  display:none;
  z-index:1;
}

header > div:nth-of-type(1) {
  display: none;
}

@media (min-width: 30em) {
  h2 {
  font-size: larger; 
  }
  p {
    font-size: larger;
  }
  header {
    height:12em;
  }
}


@media (min-width: 55em) {
  header > div:nth-of-type(1) {
    display: grid;
    margin-top: 6em;
    position:absolute;
    bottom: calc(37%);
    right: 0;
    grid-template-columns: 1fr 1fr;

    width:6em;
    aspect-ratio:1/3;


    background-image: conic-gradient(
      transparent 0deg 90deg,
      var(--color-accent-background) 90deg 180deg,
      transparent 180deg 270deg,
      var(--color-accent-background) 270deg 360deg
    );

    background-size: 6em 6em;

    transform: scaleX(-1);
  }


  header > div:nth-of-type(2) {
    display: grid;
    margin-top: 6em;
    position:absolute;
    bottom: calc(62%);
    left: 0;
    grid-template-columns: 1fr 1fr;
    width:6em;
    aspect-ratio:1/3;

    background-image: conic-gradient(
      transparent 0deg 90deg,
      var(--color-accent-background) 90deg 180deg,
      transparent 180deg 270deg,
      var(--color-accent-background) 270deg 360deg
    );

    background-size: 6em 6em;

    transform: scaleX(-1);
  } 

  header > a img {
    left: 5.6em;
  }

  nav ul li a {
    font-size: .8em;
  }
}


/**********/
/*CALENDER*/
/**********/

main section:nth-of-type(1) {
  margin: 0;
}

main section:nth-of-type(1) ul {
  width: 90%;
}

main section:nth-of-type(1) > ul li {
  height: 2em;
  display: flex;
}
main section:nth-of-type(1) > ul li button {
  color:var(--color-text);
  background-color:var(--color-background);
  padding:0.2em;
  border:solid;
  border-color: var(--color-accent-background);
  min-width: 10em;
}

  /* button vandaag */
  main section:nth-of-type(1) > ul li:first-of-type button {
      width: 50%;
      color:var(--color-text);
      background-color:var(--color-background);
      padding:0.2em;
      border:solid;
      border-color: var(--color-accent-background);
      min-width: 10em;
      text-align:start;
      margin: .1em;
      background-image: url(../images/icons8-expand-arrow-90.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 5em;
  }
  
    /* DI 20 SEP DATA */
  main section:nth-of-type(1) > ul li:first-of-type button:nth-of-type(2) {
      width: 50%;
      margin: .1em;
      text-align: start;
      color:var(--color-background);
      background-color:var(--color-accent-background);
  }


  /* films */
  main section:nth-of-type(1) > ul li:nth-of-type(-n+6) a:first-of-type {
      width: 80%;
      background-color: var(--color-accent-background);
      color:var(--color-background);
      border-color: var(--color-background);
      padding: 0.2em;
      margin: .1em;
  }
  

  /* time button calender */
  main section:nth-of-type(1) > ul li:nth-of-type(-n+6) a:last-of-type {
      width: 20%;
      color:var(--color-accent-background);
      background-color:var(--color-background);
      padding:0.2em;
      border: .1em solid var(--color-text);
      text-align: center;
      margin: .1em;
  }

  
   /* later button */
  main section:nth-of-type(1) > ul li:last-of-type button {
      width: 100%;
      margin: .1em;
      text-align: start;
      background-image: url(../images/icons8-expand-arrow-90.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 3em;
  }


main section:nth-of-type(1) h2 {
  display:none;
  }


@media (min-width: 40em) {
  
  header {
    height:14em;
  }

  main section:nth-of-type(1) {
    width: 50%;
  }

  main section:nth-of-type(1) {
    margin: 0 auto;
  }

  header a:nth-of-type(2) img {
    display:block;
    position:absolute;
    max-width: 15em;
    top: .3em; 
    left:1em;
  }
}

  @media (min-width: 55em) {
    header {
      height:30em;
    }
    
    main section:nth-of-type(1)  {
      position: absolute;
      z-index: 1;
      bottom: calc(100% + 5em);
      right: 0;
      width: 25em;
      margin: 0 2em;
    }

      header a:nth-of-type(2) img {
        max-width: 30em;
        top: 6em;
        left: 7em;
    }
}

/********************/
/* AANKOMENDE FILMS */
/*********************/

main section:nth-of-type(2) {
  border-top: solid var(--color-accent-background);
  border-width: .1em;
  margin: 1em 1em;
}

main section:nth-of-type(2) ul:first-of-type {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

main section:nth-of-type(2) ul li button {
  color: var(--color-text);
  padding: 0.5em;
  text-align: justify;
  text-transform: uppercase; 
}

main section:nth-of-type(2) ul li {
  text-align: center;
 }

 main section:nth-of-type(2) ul li a {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
 }

main section:nth-of-type(2) ul li a img {
height: 100%;
width: 10em;
height: 14em;
object-fit:cover;
}

main section:nth-of-type(2) > a:nth-of-type(1) img {
  position:absolute;
  width: 2em;
  left: 0;
}

main section:nth-of-type(2) h2 {
  display:none;
}

/* CAROUSEL */

/* CODEPEN SANNE / GRID */

main section:nth-of-type(2) ul:nth-of-type(2) {
  display:flex;
  gap:.5em;

  width:90%;
  margin: 0 auto;

  overflow-x:auto;
  /* om de kinderen te laten snappen */
  scroll-snap-type: x mandatory;
  overscroll-behavior: contain auto;
  -webkit-overflow-scrolling: touch;
}

main section:nth-of-type(2) ul:nth-of-type(2) li {
  flex-basis:60%;
  flex-grow: 1;
  align-items:center;
  gap:.25em;
  /* een kind geeft aan waar 't snapt */
  scroll-snap-align: center;
  /* de elementen in de li flexen weer verticaal */
  /* maar nu in omgekeerde volgorde */
  display:flex;
  flex-direction:column-reverse;
}

/* PREV EN NEXT LINKBUTTONS */


main section:nth-of-type(2) > a:nth-of-type(1) img {
  position:absolute;
  width: 2em;
  left: 0;
}

main section:nth-of-type(2) > a:nth-of-type(2) img {
  position:absolute;
  width: 2em;
  right: 0;
}

main section:nth-of-type(2) ul li a:first-of-type::after {
  content: '';
  position: absolute;
  color: var(--color-accent-text);
  padding-top: 60%;
  left: 0;
  width: 100%;
  height: 100%; 
}

main section:nth-of-type(2) ul li:first-of-type:hover a:first-of-type::after {
  content: 'sundown';
  background-color: var(--color-accent-background-opacity);
       
}

main section:nth-of-type(2) ul li:nth-of-type(2):hover a:first-of-type::after {
  content: 'Dont worry darling';
  background-color: var(--color-accent-background-opacity);
}

main section:nth-of-type(2) ul li:nth-of-type(3):hover a:first-of-type::after {
  content: 'Moonage daydream';
  background-color: var(--color-accent-background-opacity);
}


main section:nth-of-type(2) ul li:nth-of-type(4):hover a:first-of-type::after {
  content: 'Decision to leave';
  background-color: var(--color-accent-background-opacity);
}

main section:nth-of-type(2) ul li:nth-of-type(5):hover a:first-of-type::after {
  content: 'Corsage';
  background-color: var(--color-accent-background-opacity);
}

/* CODEPEN SANNE / GRID EINDE*/


@media (min-width: 30em) {
  main section:nth-of-type(2) ul:first-of-type li button{
    font-size: 1.2em;
  }

  main section:nth-of-type(2) ul li a img {
    height: 16em;
    width: 13em;
  }
}


    @media (min-width: 50em) {
  main section:nth-of-type(2) ul:first-of-type li button{
    font-size: 1.2em;
  }
}




/************/
/* SPECIALS */
/************/


main section:nth-of-type(3) {
  background-color: var(--color-accent-background);
  margin:4em 1em;
  padding: 1em;
  display: grid;
  gap: 1em;
}

main section:nth-of-type(3) ul {
  margin: 0 0 2em 0;
  padding: 0;
  list-style: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

main section:nth-of-type(3) ul li {
  display: flex;
  align-items: start;
  gap:.4em;
}

main section:nth-of-type(3) ul li a:last-of-type {
  display: flex;
}

main section:nth-of-type(3) h2, p, form label {
  color: var(--color-background);
}

main section:nth-of-type(3) h2 {
  color: var(--color-background);
  font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

main section:nth-of-type(3) img  {
width: 100%
}

main section:nth-of-type(3) time {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: small;
  padding: 0.3em;
  border-radius: .3em;
}


main section:nth-of-type(3) form {
  display: flex;
  flex-direction:column;
}

main section:nth-of-type(3) form  p{
  color: var(--color-accent-text);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}

main section:nth-of-type(3) form input:first-of-type {
  max-width: 10em;
  height: 2em;
  border: solid #aaa;
  border-radius: .1em;
  border-width: .1em;
  margin: .5em 0;
}

main section:nth-of-type(3) form input:last-of-type {
  max-width: 7em;
  height: 2em;
  border-radius: .3em;
  border: none;
  margin: .5em 0;
  color:white;
  background-color: #aaa;
}


@media (min-width: 40em) {
    
  main section:nth-of-type(3) {
    grid-template-columns: 24em 1fr;
  }

  main section:nth-of-type(3) ul {
    grid-template-columns: 1fr;
  }

  main section:nth-of-type(3) img {
    max-width: 20em;
  }
}

@media (min-width: 80em) {
  main section:nth-of-type(3) ul {
    grid-template-columns: 1fr 1fr;
  }
}

/*********************/
/* CAFE & RESTAURANT */
/*********************/

main section:nth-of-type(4) {
  display:grid;
  gap: 1em;
  margin: 1em 1em;
  border-bottom: solid var(--color-accent-background);
  border-width: .1em;
  padding: 2em 0em;
  margin-bottom: 2em;
}

section:nth-of-type(4) ul {
  display: flex;
  align-items:flex-start;
  flex-direction: column;
 
}

section:nth-of-type(4) li {
  text-align:center;
  margin-top: 1em ;
  margin-bottom: 1em ;
}

section:nth-of-type(4) li:first-of-type {
  margin-top: 2em ;
}

section:nth-of-type(4) p:first-of-type,
section:nth-of-type(4) p:nth-of-type(2) {
  margin-top: 2em;
}

section:nth-of-type(4) a {
  background-color: var(--color-accent-background);
  color:var(--color-background);
  padding: .4em 1em;
  border-radius: 0.3em;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}


main section:nth-of-type(4) h2 {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

section:nth-of-type(4) p {
  color: var(--color-text);
  margin-top:.1em; 
}

main section:nth-of-type(4) img {
  width: 100%;
  display: block;
  grid-row-start: 1;
}


@media (min-width: 40em) {
  
  main section:nth-of-type(4) {
   grid-template-columns: 1fr 1fr;
    margin: 2em 1em;
  }

 main section:nth-of-type(4) div {
    display:flex;
    flex-direction: column;
  }
}


/*****************/
/* BUTTONS HOVER */
/*****************/

main section:nth-of-type(2) button:hover {
  text-decoration: underline;
  text-decoration-color: #EED6DC;
  text-decoration-thickness: .1em ;
}

main section:nth-of-type(4) a:hover {
background-color: var(--color-background);
color:var(--color-accent-background);
border: solid var(--color-text)
}










