/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
}

button, summary {
    cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text:#EED6DC;
    --color-background:#30302e;
    --color-accent-background: #EED6DC;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

header {
  background-image:;
}

body {
  color:var(--color-text);
  background-color:var(--color-background);
}

main > section ul {
  display: block;
}
/* hoe selecteer ik alleen de eerste section van mijjn main */ 

nav ul {
  justify-content: space-around;
  gap: 2em;
}

ul {
display: flex; 
}

li {
  justify-content: space-between;
  font-family:'Roboto', sans-serif;
  color: var(--color-background);
  list-style: none;
}

a {
  font-family:'Roboto', sans-serif;
  color: var(--color-text);
  text-decoration: none;

}


h2 {
  font-family: 'Open Sans', sans-serif;
  
}



footer {
  background-color:var(--color-accent-background);
  color: var(--color-background);
  font-family:'Roboto', sans-serif;
  display:flex;
}

footer img {
  max-width: 9em;
}

