/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
     margin: 0;
    padding: 0;
}

button, summary {
    cursor: pointer;
    border:  none;
    background-color: unset;
}
img{
  width:100%;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text:#EED6DC;
    --color-background:#30302e;
    --color-accent-background: #EED6DC;
}


/****************/
/* JOUW STYLING */
/****************/
body {
  color:var(--color-text);
  background-color:var(--color-background);
}


li {
  font-family:'Roboto', sans-serif;
  color: var(--color-background);
  list-style: none;
}

a {
  font-family:'Roboto', sans-serif;
  color: var(--color-text);
  text-decoration: none;

}


h2 {
  font-family: 'Open Sans', sans-serif;
  
}

section {
  margin: 3em 1em;
  border-bottom: solid var(--color-accent-background);
}


/****************/
/* HEADER */
/****************/

header {
  background-image: url(../images/appelsap.jpg);
  background-size:contain;
  background-repeat:no-repeat;
  /* padding-top: 4em; */
  height: 10em;
}

section:nth-child(1) img {
  display:none;
}




/************/
/* CALENDER*/
/************/

section:nth-of-type(1) h1 {
  display:none;
  }

section:nth-of-type(1) ul {
  margin-top:1em;
  margin-bottom: 1em;
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
  position: row;
  width: 80%;
}


section:nth-of-type(1) > ul li button {
  color:var(--color-text);
  background-color:var(--color-background);
  padding:0.2em;
  border:solid;
  border-color: var(--color-accent-background);
  min-width: 10em;

}

section:nth-of-type(1) ul li button date {
  color:var(--color-background);
  background-color:var(--color-accent-background);
  padding:0.2em;
  border:solid;
  border-color: var(--color-background);
}

section:nth-of-type(1) > ul li {
  height: 2em;
}

section:nth-of-type(1) ul li time {
  color:var(--color-background);
  background-color:var(--color-accent-background);
  padding:0.2em;
  border:solid;
  border-color: var(--color-background);
}

section:nth-of-type(1) > ul li a {
  
  background-color: var(--color-accent-background);
  color:var(--color-background);
  border:solid;
  border-color: var(--color-background);
  padding:0.2em;
  width: 100%;
} 



/********************/
/* AANKOMENDE FILMS */
/*********************/




section:nth-of-type(2) h1 {
display:none;
}

section:nth-of-type(2) ul {
  display: flex;
  padding: 1em;
}

section:nth-of-type(2) ul li button {
  color: var(--color-text);
  padding: 0.5em;
  text-align: justify;
  text-transform: uppercase;
  
}

section:nth-of-type(2) ul li a img {
height: 100%;
max-width: 13em;;
object-fit:cover;
  
}

section:nth-of-type(2) ul li {
  text-align: center;
 }

 section:nth-of-type(2) ul li a {
  text-align: center;
 }
    

/************/
/* SPECIALS */
/************/

section:nth-of-type(3) ul:nth-of-type(2) {
  background-color: var(--color-accent-background);
  margin:4em 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}



section:nth-of-type(3) h1, p, form label {
  color: var(--color-background);
}

section:nth-of-type(3) time {
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 0.9em;
  border-radius: 1em;
}

section:nth-of-type(3) img  {
  max-width: 13em;
}




/*********************/
/* CAFE & RESTAURANT */
/*********************/

section:nth-of-type(4) h2 {
  font-size: 2em;
}

section:nth-of-type(4) p {
  color: var(--color-text);
}

section:nth-of-type(4) a {
  background-color: var(--color-accent-background);
  color:var(--color-background);
  margin: 0em .3em;
  padding: .2em .7em;
  border-radius: 0.3em;
}

section:nth-of-type(4) li {
  text-align:center;
  margin: 2em 0 2em 0 ;
}

section:nth-of-type(4) ul {
  display: flex;
  align-items:flex-start;
  flex-direction: column;
}




/*****************/
/* BUTTONS HOVER */
/*****************/

section:nth-of-type(2) button:hover {
  text-decoration: underline;
  text-decoration-color: #EED6DC;
  text-decoration-thickness: .1em ;
}


section:nth-of-type(4) a:hover {
background-color: var(--color-background);
color:var(--color-accent-background);
border: solid var(--color-text)

}



/***********/
/* CAROUSEL */
/***********/

main section:nth-of-type(2) ul:nth-of-type(2) {
  /* jouw code hier */
  display:flex;
  gap:.5em;
  
  overflow-x:auto;
  /* om de kinderen te laten snappen */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-snap-type */
  scroll-snap-type: x mandatory;
  
  /* om te voorkomen dat bij het einde van de ul de body gaat scrollen */
  /* daarmee zou de 'back' of 'forward' functie geactiveerd worden */
  /* en nu dus niet */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior */
  overscroll-behavior: contain auto;
  
  /* voor de zwarte piste */
  /* zelf googlen */
  -webkit-overflow-scrolling: touch;
}

main section:nth-of-type(2) ul:nth-of-type(2) li {
  /* jouw code hier */
  flex-basis:40%;
  flex-shrink:0;
  align-items:center;
  gap:.25em;
  
  /* een kind geeft aan waar 't snapt */
  scroll-snap-align: center;
  
  
  /* de elementen in de li flexen weer verticaal */
  /* maar nu in omgekeerde volgorde */
  display:flex;
  flex-direction:column-reverse;
}

/* PREV EN NEXT LINKBUTTONS */


main section:nth-of-type(2) > a:nth-of-type(2) img {
position:absolute;
width: 2em;
right: 0;
}

main section:nth-of-type(2) > a:nth-of-type(1) img {
  position:absolute;
  width: 2em;
  left: 0;
  }




